/* reset */
body, h1, h2, h3, p, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: antiquewhite
  }
  
  #cep{
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width:1px;
    border-color:black;
  }

  input{background-color: white;}

  #endereco{
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
  }
  #previsaotemp{
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    border-style: solid;
    border-width:1px;
    border-color:black;
    display: flex;
    justify-content: center;
  }


  #map{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
  }

  #map { height: 300px; }