/* reset */
body, h1, h2, h3, p, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: antiquewhite
  }
  
  #cep{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 33%;
  margin: 20px;
  }

  input{background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

  #endereco{
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;


  }
  #previsaotemp{
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
  }


  #map{
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
